<li class="single_entry">
	<ul>
		<li>
			<h3 class="inline">
				<span id="story_<%= story.id %>_votes"><%= story.score %></span>
				
				<%= link_to story.title, url_with_protocol( story.url ), :target => '_blank' %>

				<%= render 'ballot', :target => story %>

			</h3>

			<% if story.new? && story.belongs_to?(current_or_anonymous_user) %>
				<%= link_to "edit", edit_story_path( story ), :class => "hover_hidden pull-right edit_button" %>
			<% end %>

		</li>

		<li>
						<%= "#{story.url} via @#{story.user.twitter_handle}" %>
						<%= link_to "SHOW", story_path(story) %>
		</li>
	</ul>
</li>