<section class="story">
	<%= render 'entry', :story => @story%>
</section>

<section class="comments">
	<h3>Comments</h3>

	<%= form_for [@story, @comment] do |f| %>
		<%= f.text_area :body %>
		<%= f.submit "Comment!" %>
	<% end -%>
	
	<ol>
		<%= render @story.comments %>
	</ol>
</section>