<!DOCTYPE html>
<html>
<head>
  <title>HnClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>

	<div class="container main_content">
		<div class="row">
			<%= render 'layouts/flash_messages' %>
			
			<%= yield %>		
		</div>
	</div>

</body>
</html>
